<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" type="text/css" href="/static/sass.css">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
        <script type="text/javascript" charset="UTF-8" src="/static/javascript/script.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <title>Flack</title>
    </head>
    <body>
        <div class="wrapper">
            <nav class="nav-left" id="nav-left">
                <h1>Flack</h1>
                <h3>{{ username }}</h3>
                <button type="button" class="nav-button" id="channel-list">Channel List</button>
                <div class="info" id="channel-list-div">
                    <ul id="channel-list-ul">
                    </ul>
                </div>

                <button type="button" class="nav-button" id="create-channel-button">Create Channel</button>
                <div class="info" id="create-channel-div">
                    <input type="text" autocomplete="off" placeholder="Channel name" name="channel-name" id="channel-input">
                    <button type="button" id="create">Create</button>
                </div>


                <div class="info-logout">
                    <button type="button" id="logout">Log Out</button>
                </div>
            </nav>
            {% block content %} {% endblock %}
        </div>
    </body>
</html>