<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="../static/sass.css">
        <script  typpe="text/javascript" src="/static/script.js"></script>
        <title>Flack</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="display-name">
                <form action="" method="POST" id="form1">
                    <h1>Flack</h1>
                    <label>Display name</label>
                    <input type="text" class="name" placeholder="Enter your display name" name="display-name">
                    <button class="submit">Okay</button>
                    <!--<text> ERROR -->
                </form>
            </div>
            <nav class="nav-left">
                <div class="info">
                    <h3>Name</h3>
                </div>
                <div class="info">
                    <h3>Friends</h3>
                </div>
                <div class="info">
                    <h3>Channel List</h3>
                </div>
                <div class="info">
                    <h3>Create Channel</h3>
                </div>
            </nav>
        </div>
    </body>
</html>